/* Font-Face */
/* FontFamily: Raleway */
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Regular.woff2') format('woff2'), url('./fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Color Variables */
:root{
    --black: #000000;
    --white: #ffffff;
    --green: #008001;
    --grey-light: #efefef;
    --grey-darker: #403b3b;
}

/* General Styling */
*{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    font-size:16px;
}
html{
    scroll-behavior: smooth;
    background: var(--white);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--black);

    /* optional transition effect (default 0.125s) */
    -webkit-transition: all .125s ease-out;
    transition: all .125s ease-out;
}
body{
    margin: 0 auto;
}
header, section, footer{
    display: flex;
    justify-content: center;
}

header, section {
    margin: 0px 160px 0px 160px;
}

div.wrapper{
    display: flex;
    max-width:1440px;
    width: 100%;
}
section{
    display: flex;
    padding: 7.5em 0;
}
/* Headlines */
h1{
    font-size: 2.25em;
    font-weight:bold;
}
h2{
    font-size: 1.5em;
    font-weight:bold;
}
h3{
    font-size: 1.125em;
    font-weight:bold;
}

/* Header */
header{
    height: 8rem;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0/ 0.1);
    div.wrapper{
        justify-content: space-between;
        align-items: end;

        nav ul{
            display: flex;
            li{
                display: flex;
                align-items: end;
                padding: 1rem 2rem;
                &.active{
                    border-bottom: 2px solid var(--green);
                    a{
                        color: var(--green);
                        font-weight: bold;
                    }
                }
                &:hover{
                    border-bottom: 2px solid var(--green);
                    a{
                        color: var(--green);
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

/* Sections */

#news{
    background-color: var(--grey-light);
    div.wrapper{
        flex-direction: column;
        align-items: center;
    }
    #dishes{
        width: 100%;
        gap: 2rem;
        display: flex;
        figure{
            width: 100%;
            display: block;
            img{
                width: 100%;
            }
        }

    }
}

footer{
    background-color: var(--grey-darker);
}

/* Unterseiten */

/* Impressum */
#impressum{
    div.wrapper{
        flex-direction: column;
    }
}

/* Rezept Artur */
#rezeptAg{

    section{
        a{
            asdasdasd
        }
    }
}

/* Rezept Nadine */
/* Section Recipeimage */
.recipeimage {
    flex-direction: column;
}

.recipeimage img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    object-position: center;
    margin: 30px 0px 30px 0px;
}

.recipeinformation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.recipeinformation img {
    height: 16px;
    width: 16px;
}

/* Section Incredients */

.incredients {
    justify-content: start;
}

#amount {
    height: 32px;
    width: 100px;
    text-align: center;
    margin-left: 8px;
    border-color: rgba(0, 0, 0, 0.15);
    font-weight: bold;
}

.incredients button {
    height: 36px;
    width: 110px;
    background-color: #008001;
    color: #ffffff;
    border: none;
}
/*** MEDIA QUERIES ***/
/* calculated with em (base 16px) */
/* Large devices (tablets, 768px - 1280px) */
@media only screen and (min-width: 48.01em) and (max-width: 80em){

}

/* Medium devices (mobile, 768px and down) */
@media only screen and (max-width: 48em) {

}

/* Small devices (mobile, 400px and down) */
@media only screen and (max-width: 25em) {

}