/* Style for Modul 6 - Gruppenarbeit Kochwelt */

/* Font-Face */
/* FontFamily: Raleway */
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Regular.woff2') format('woff2'), url('./fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Color Variables */
:root {
    --black: #000000;
    --white: #ffffff;
    --green: #008001;
    --green-darker: #015d02;
    --grey-light: #efefef;
    --grey-darker: #403b3b;
}

/* General Styling */
* {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.4;
}

p{
    margin: 0.5em 0;
}

html {
    scroll-behavior: smooth;
    background: var(--white);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black);

    /* optional transition effect (default 0.125s) */
    -webkit-transition: all .125s ease-in-out;
    transition: all .125s ease-in-out;
}
img {
    width: 100%;
    border-radius: 1rem;
}
body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header,
section,
footer {
    display: flex;
    justify-content: center;
}
main {
    flex: 1;
    min-height: 5em;
}
div.wrapper {
    display: flex;
    max-width: 1440px;
    padding: 0 3rem;
    width: 100%;;
}
.content {
    display: flex;
}
section {
    display: flex;
    padding: 3rem 0;
}
strong {
    font-weight: bold;
}
.d-none {
    display: none;
}

/* Headlines */
h1,
h2,
h3{
    font-weight: bold;
}
h1 {
    font-size: 2.25em;
    margin-bottom: 2rem;
}
h2 {
    font-size: 1.5em;
    margin-bottom: 1rem;
}
h3{
    font-size: 1.3em;
    margin-bottom: 0.5rem;
}

/* burger-menu */
#burgerMenu {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;

    .stroke {
        justify-content: center;
        display: flex;
        width: 80%;
        height: 0.25rem;
        background-color: var(--black);
    }
}

/* Header */
header {
    height: 7rem;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0/ 0.1);
    div.wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: end;

        #logo {
            img {
                max-width: 20rem;
            }

            ;
        }

        nav {
            #mainMenu {
                display: flex;

                li {
                    padding: 1rem 2rem;
                    border-bottom: 4px solid var(--white);
                    /* optional transition effect (default 0.125s) */
                    -webkit-transition: all .125s ease-in-out;
                    transition: all .125s ease-in-out;

                    &.active {
                        border-bottom: 4px solid var(--green);

                        a {
                            color: var(--green);
                            font-weight: bold;
                        }
                        &:hover {
                            border-bottom: 4px solid var(--green);
                        }
                    }

                    &:hover {
                        border-bottom: 4px solid var(--grey-light);
                        a {
                            color: var(--green);
                            font-weight: bold;
                        }
                    }
                }
            }

            #burgerMenu {
                display: none;
            }
        }
    }
}

/* Startseite */
/* Sections */
#randomDish {
    .content {
        gap: 2rem;
        align-items: center;

        img {
            max-width: 50%;
        }

        article {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            a {
                text-align: center;
                padding: 1rem 2rem;
                max-width: 33%;
                border: 0;
                color: var(--white);
                background-color: var(--green);

                &:hover {
                    background-color: var(--green-darker);
                }
            }
        }
    }
}

#news {
    background-color: var(--grey-light);
    h2 {
        text-align: center;
    }
    .content{
        flex-direction: column;
        .recipes{
            display: flex;
            gap: 2rem;
        }
        figure{
            width: 100%;
            display: block;
            img {
                width: 100%;
            }
            figcaption {
                text-align: center;
                font-weight: bold;
                margin-top: 0.5rem;
            }
        }
    }
}
#randomArtcile{
    h2{
        text-align: center;
    }
    div.content{
        flex-direction: column;
        article{
            display: flex;
            gap: 2rem;
            img{
                max-width: 50%;;
            }
        }
    }
}

/* Contact */
#contactHeadline{
    .content{
        flex-direction: column;
    }
}
#contactForm{
    background-color: var(--grey-light);
    .content{
        flex-direction: column;
        width: 100%;
        form{
            input{
                width: 100%;
                margin-bottom: 40px;
            }
            textarea{
                width: 100%;
                margin-bottom: 40px;  
            }
            button{
                height: 36px;
                width: 110px;
                background-color: #008001;
                color: #ffffff;
                border: none;
                display: block;
                margin: auto;
            }
        }
    }
}

/* Footer */
footer{
    padding: 1.5rem 0;
    background-color: var(--grey-darker);
    div.wrapper{
        width: 100%;
    }
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    #logoFooter {
        img {
            max-width: 5rem;
            /*  */
            filter: brightness(0) invert(1);
        }
    }

    #navFooter {
        ul {
            display: flex;

            li {
                padding: 0 1rem;

                a {
                    color: var(--white);

                    &:hover {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

/* Unterseiten */

/* Impressum */
#impressum {
    div.wrapper {
        flex-direction: column;
        text-align: center;
    }
}

/* Rezept Nadine */

/* Rezept Artur */
.logoFooterKontakt{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

/* Rezeptseiten */

.recipeimage,
.incredients,
.preperation,
.author{
    .content{
        flex-direction: column;
        width: 100%;
    }
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 0.5rem 1rem;
    background-color: var(--grey-light);
    border-radius: 0.5rem;
    p{
        margin: 0;
    }
}
.recipeimage{
    .recipeinformation{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        img{
            margin: 0;
            border-radius: 0;
            height: 1rem;
            width: 1rem;
        }
    }
    img{
        height: 250px;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
        object-position: center;
        margin: 0 0 2rem;
    }
}
.incredients{
    padding-top:0;
    .content{
        padding-top: 1rem;
        border-top: 1px solid var(--grey-light);

        table{
            margin-top: 1rem;
            border-collapse: collapse;

            tr{
                &:nth-child(even){
                    background-color: var(--grey-light);
                    border-radius: 1rem;
                }
                td,th{
                    padding: 0.5rem;
                    &:first-child{
                        border-top-left-radius: 0.5rem;
                        border-bottom-left-radius: 0.5rem;
                        width: 40px;
                        text-align: end;
                    }
                    &:last-child{
                        border-top-right-radius: 0.5rem;
                        border-bottom-right-radius: 0.5rem;
                    }
                    &.use_for{
                        text-align: left;
                        background-color: var(--white);
                    }
                }
            }
        }
    }

    #amount {
        height: 32px;
        width: 100px;
        text-align: center;
        margin-left: 8px;
        border-color: rgba(0, 0, 0, 0.15);
        font-weight: bold;
    }
    .use_for {
        font-weight: bold;
    }

    button{
        height: 36px;
        width: 110px;
        background-color: #008001;
        color: #ffffff;
        border: none;
    }
}

.author{
    padding-top:0;
    .profil{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        img{
            max-width: 7rem;
            height: auto;
            border-radius: 7rem;
        }
        p{
            font-size: 1.2rem;
        }
    }
}

.preperationDesc{
    margin:2rem 1rem;
}

/* Section Incredients */

/* Section Preperation */
.preperation_time {
    display: flex;
    gap: 24px;
}

.preperation img {
    height: 16px;
    width: 16px;
}

/*** MEDIA QUERIES ***/
/* calculated with em (base 16px) */
/* Large devices (tablets, 768px - 1280px) */
@media only screen and (min-width: 48.01rem) and (max-width: 80rem) {}

/* Medium devices (mobile, 768px and down) */
@media only screen and (max-width: 62.5rem) {

    /* Header */
    header{
        div.wrapper{
            align-items: center;
            nav{
                #mainMenu{
                    display: none;

                    &.show {
                        position: absolute;
                        right: 6rem;
                        display: flex;
                        flex-direction: column;
                        background-color: var(--grey-light);

                        li {
                            border: 0 !important;

                            &.active {
                                background-color: var(--grey-light);
                            }
                        }

                        &:after {
                            content: "";
                            position: absolute;
                            right: -0.25rem;
                            top: 1rem;
                            height: 1rem;
                            width: 1rem;
                            background-color: var(--grey-light);
                            transform: rotate(45deg);
                        }
                    }
                }

                #burgerMenu {
                    display: flex;
                }
            }
        }
    }

    /* Sections */
    section {
        .content {
            flex-direction: column;
            img{
                max-width: 100%;
                height: 20vh;
                object-fit: cover;
                object-position: 50% 50%;
            }
            .recipes{
                flex-direction: column;
            }
        }
    }
    #randomDish{
        .content{
            img{
                max-width: 100%;
                height: 20vh;
                object-fit: cover;
                object-position: 50% 50%
            }
        }
    }
}

/* Medium devices (mobile, 768px and down) */
@media only screen and (max-width: 48rem) {
    #randomArtcile{
        div.content{
            article{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                img{
                    max-width: 100%;;
                }
            }
        }
    }
}

/* Small devices (mobile, 400px and down) */
@media only screen and (max-width: 25rem) {}